
@import "tailwindcss";

@theme {
  --color-brand: #FFF5E6;                   /* button blue */
  --font-display: "Playfair Display", serif; /* Headlines */
  --font-body: "Poppins", sans-serif;       /* Body text */

}

/* Base styles */
@layer base {
  body {
    @apply  text-gray-900;
    font-family: var(--font-body);
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-gray-900;
    /* font-family: var(--font-display); */
  }
}

